.reply-class {
    padding-left: 1em;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: 1em;
    padding-left: 1em;
    padding-top: 1em;
    /* box-shadow: 1px 1px 5px 3px #8c8ce5; */
}

.meta-data-content {
    display: flex;
    justify-content: space-between;
}

.time {
}

.author {
}
